body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

/*
Z-index para que cuando se suba o se haga scroll los cards no pasen por encima del header
*/
.header{
    width: 100%;
    z-index: 1;
}

.headerStyle{
    color: aliceblue;
    background-color:red;
}

.datos_personajes{
    margin-top: 140px;
    margin-bottom: 60px;
    
}
